# Backend API Service Base URL
VITE_API_BASE_URL=http://145.79.8.141:8070

# Keycloak OIDC Authentication Configuration
VITE_KEYCLOAK_URL=https://keycloak.aitiserve.co.id:8095
VITE_KEYCLOAK_REALM=aitiserve
VITE_KEYCLOAK_CLIENT_ID=<client-id>
VITE_KEYCLOAK_CLIENT_SECRET=<secret>
